<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{{ title }}</title>
        {#    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">#}
        <!--
                8888888b. 8888888888888b     d888888     888 .d8888b.
                888   Y88b888       8888b   d8888888     888d88P  Y88b
                888    888888       88888b.d88888888     888Y88b.
                888   d88P8888888   888Y88888P888888     888 "Y888b.
                8888888P" 888       888 Y888P 888888     888    "Y88b.
                888 T88b  888       888  Y8P  888888     888      "888
                888  T88b 888       888   "   888Y88b. .d88PY88b  d88P
                888   T88b8888888888888       888 "Y88888P"  "Y8888P"

                created by Paweł Sztromwasser and Damian Skrzypczak © 2019
                (https://github.com/seru71 https://github.com/DamianSkrzypczak)
        -->
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        {% include "libs_block.html" %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}

<footer class="container content">
    <div class="row align-items-center">
        <div class="col-1">
            <img src="{{ url_for('static', filename='img/eu_logo.jpg') }}" class="img-fluid mr-auto" alt="Logo" style="height: 100%;">
        </div>
        <div class="col-5">
            <a href="http://ncn.gov.pl/?language=en">
                <img src="{{ url_for('static', filename='img/ncn_logo.png') }}" class="img-fluid ml-auto" alt="Logo" style="width: 100%;">
            </a>
        </div>
        <div class="col-6 small">
            This project is funded by NCN Polonez grant no 2016/23/P/NZ2/04251. This project has received funding from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 665778.
        </div>
    </div>

</footer>

<footer class="footer">
    <div class="container-fluid">
        <small class="text-muted">
            created by
            <a href="https://github.com/DamianSkrzypczak"
               target="_blank">Damian Skrzypczak</a> and 
            <a href="https://github.com/seru71"
               target="_blank">Paweł Sztromwasser</a> 
            © 2019 </small>
    </div>
</footer>
</body>
</html>
