        <!-- JQuery JS -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
        <!-- Bootstrap JS -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <!-- Select2 CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/css/select2.min.css" rel="stylesheet"/>
        <!-- Select2 JS -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/js/select2.min.js"></script>

        <!-- Custom selects JS -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/selects.js') }}"></script>
        <!-- Custom general css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <!-- Custom switch css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
        <!-- Custom footer css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sticky_footer.css') }}">

        <!-- VCF filtering JS libs -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/JSLibs/jdataview.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/JSLibs/jparser.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/JSLibs/inflate.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/JSLibs/pako_deflate.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/JSLibs/jsbgzf.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/JSLibs/js-bv-sampling.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/JSLibs/js-bv-common.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/JSLibs/js-iobio-common.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/js-local-vcf.js') }}"></script>
    
