{% extends "structure.html" %}

{% block general_controls %}
    {{ super() }}
    <div class="col">
        <div class="float-left">
            <button id="set-example-values-button" type="button" class="btn btn-secondary">Set example values</button>
        </div>
        <div class="float-right">
            <button class="switch close" id="genome-switch-button"
                    data-trigger="focus"
                    data-toggle="popover"
                    data-placement="left"
                    {# data-content="Select genome build"#} >
                <input id="genome-switch" class="switch" type="checkbox">
                <label for="genome-switch" id="genome-switch-label" class="">Genome</label>
            </button>
        </div>
    </div>
{% endblock %}

{% block genes_section %}
    <a class="collapsed card-header bg-info card-link text-white" data-toggle="collapse"
       href="#collapse-genes">
        Genes
    </a>
    <div id="collapse-genes" class="form-group collapse show">
        <div class="row">
            <div class="card-body align-self-center col-md-8">
                <div class="form-group">
                    <h5><label for="select-genes">Select genes:</label></h5>
                    <div>
                        <select class="form-control" name="genes" id="select-genes" required></select>
                    </div>
                    <a class="ask-btn small text-success"
                       tabindex="0"
                       role="button"
                       data-trigger="focus"
                       data-toggle="popover"
                       data-placement="right"
                       data-html="true"
                       data-content="Holding [ctrl✲] key will prevent modal dialog from closing after selection">
                        [Tips]
                    </a>
                </div>
            </div>
            <div id="select-genes-controls" class="text-center align-self-center col-md-4">
                <label for="genes-select-include-gene-body-checkbox">
                    <input id="genes-select-include-gene-body-checkbox"
                           name="genes-select-include-gene-transcripts"
                           type="checkbox" value="yes">
                    Include genes' transcripts in the result
                </label>
            </div>
        </div>
    </div>
{% endblock %}

{% block tissues_section %}
    <a class="collapsed card-header bg-info card-link text-white" data-toggle="collapse"
       href="#collapse-tissues">
        Organs, tissues and cell types
    </a>
    <div id="collapse-tissues" class="form-group collapse show">
        <div class="row">
            <div class="card-body align-self-center col-md-8">
                <h5><label for="select-tissues">Select organs/tissues/cell types:<br/>
                </label></h5>
                <div>
                    <select class="form-control" name="tissues" id="select-tissues" required></select>
                </div>
                <a class="ask-btn small text-success"
                   tabindex="0"
                   role="button"
                   data-trigger="focus"
                   data-toggle="popover"
                   data-placement="right"
                   data-html="true"
                   data-content="Symbols in parentheses indicate which datasets are available for a tissue/organ/cell type: <br /><br />
                                    Legend:<br />
                                    PR_* - Promoters <br/>
                                    ENH_* - Enhancers <br/>
                                    CHR_* - Accessible chromatin <br/>
                                    *_F - FANTOM5 <br/>
                                    *_E - ENCODE <br/>
                                    *_S - SCREEN">
                    [Meaning of symbols in parentheses]
                </a><br />
                <a class="ask-btn small text-success"
                   tabindex="0"
                   role="button"
                   data-trigger="focus"
                   data-toggle="popover"
                   data-placement="right"
                   data-html="true"
                   data-content="Holding [ctrl✲] key will prevent modal dialog from closing after selection <br /><br />
                                 Clicking on category within select will switch between closed/open view
                   ">
                    [Tips]
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block promoters %}
    <a class="collapsed card-header bg-info card-link text-white" data-toggle="collapse"
       href="#collapse-promoters">
        Promoters
    </a>
    <div id="collapse-promoters" class="collapse show">
        <div class="row">
            <div class="card-body col-md-6">
                <div class="form-group">
                    <label for="promoters-fantom5-checkbox">
                        <input id="promoters-fantom5-checkbox"
                               name="promoters-fantom5-used"
                               type="checkbox" value="yes">
                        FANTOM5
                    </label>
                    {#                    <a class="ask-btn"#}
                    {#                       tabindex="0"#}
                    {#                       role="button"#}
                    {#                       data-trigger="focus"#}
                    {#                       data-toggle="popover"#}
                    {#                       data-placement="right"#}
                    {#                       data-content="There will be help here">#}
                    {#                        [?]#}
                    {#                    </a>#}
                    <div id="promoters-fantom5-controls"
                         class="collapse hiden-controls">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input"
                                       name="promoters-fantom5-combine-mode" type="radio"
                                       id="promoters-fantom5-all" value="all" disabled>
                                <label class="form-check-label" for="promoters-fantom5-all">
                                    Active in all selected tissues</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input"
                                       name="promoters-fantom5-combine-mode" type="radio"
                                       id="promoters-fantom5-any" value="any" checked disabled>
                                <label class="form-check-label" for="promoters-fantom5-any">
                                    Active in any of selected tissues</label>
                            </div>
                            <label for="promoters-fantom5-kbs-upstream" class="col-form-label">
                                bps upstream
                                <input name="promoters-fantom5-kbs-upstream" class="form-control" type="number"
                                       min="0" value="3000" id="promoters-fantom5-kbs-upstream" disabled>
                            </label>
                            <label for="promoters-fantom5-kbs-downstream" class="col-form-label">
                                bps downstream
                                <input name="promoters-fantom5-kbs-downstream" class="form-control" type="number"
                                       min="0" value="100" id="promoters-fantom5-kbs-downstream" disabled>

                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body col-md-6">
                <div class="form-group">
                    <label for="promoters-screen-checkbox">
                        <input id="promoters-screen-checkbox"
                               name="promoters-screen-used"
                               type="checkbox" value="yes">
                        SCREEN
                    </label>
                    {#                    <a class="ask-btn"#}
                    {#                       tabindex="0"#}
                    {#                       role="button"#}
                    {#                       data-trigger="focus"#}
                    {#                       data-toggle="popover"#}
                    {#                       data-placement="right"#}
                    {#                       data-content="There will be help here">#}
                    {#                        [?]#}
                    {#                    </a>#}
                    <div id="promoters-screen-controls"
                         class="collapse hiden-controls">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input"
                                       name="promoters-screen-combine-mode" type="radio"
                                       id="promoters-screen-all" value="all" disabled>
                                <label class="form-check-label" for="promoters-screen-all">
                                    Active in all selected tissues</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input"
                                       name="promoters-screen-combine-mode" type="radio"
                                       id="promoters-screen-any" value="any" checked disabled>
                                <label class="form-check-label" for="promoters-screen-any">
                                    Active in any of selected tissues</label>
                            </div>
                            <label for="promoters-screen-kbs-upstream" class="col-form-label">
                                bps upstream
                                <input name="promoters-screen-kbs-upstream" class="form-control" type="number"
                                       min="0" value="3000" id="promoters-screen-kbs-upstream" disabled>
                            </label>
                            <label for="promoters-screen-kbs-downstream" class="col-form-label">
                                bps downstream
                                <input name="promoters-screen-kbs-downstream" class="form-control" type="number"
                                       min="0" value="100" id="promoters-screen-kbs-downstream" disabled>

                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block enhancers %}
    <a class="collapsed card-header bg-info card-link text-white" data-toggle="collapse"
       href="#collapse-enhancers">
        Enhancers / Transcription factor binding sites (TFBS)
    </a>
    <div id="collapse-enhancers" class="collapse show">
        <div class="row">
            <div class="card-body col-md-4">
                <div class="form-group">
                    <label for="enhancers-fantom5-checkbox">
                        <input id="enhancers-fantom5-checkbox"
                               name="enhancers-fantom5-used"
                               type="checkbox" value="yes">
                        FANTOM5
                    </label>
                    <div id="enhancers-fantom5-controls"
                         class="collapse hiden-controls">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input"
                                       name="enhancers-fantom5-combine-mode" type="radio"
                                       id="enhancers-fantom5-all" value="all" disabled>
                                <label class="form-check-label" for="enhancers-fantom5-all">
                                    Active in all selected tissues</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input"
                                       name="enhancers-fantom5-combine-mode" type="radio"
                                       id="enhancers-fantom5-any" value="any" checked disabled>
                                <label class="form-check-label" for="enhancers-fantom5-any">
                                    Active in any of selected tissues</label>
                            </div>
                            <label for="enhancers-fantom5-kbs-upstream" class="col-form-label">
                                Kb upstream
                                <input name="enhancers-fantom5-kbs-upstream" class="form-control" type="number"
                                       min="0" value="500" id="enhancers-fantom5-kbs-upstream" disabled>
                            </label>
                            <label for="enhancers-fantom5-kbs-downstream" class="col-form-label">
                                Kb downstream
                                <input name="enhancers-fantom5-kbs-downstream" class="form-control" type="number"
                                       min="0" value="500" id="enhancers-fantom5-kbs-downstream" disabled>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body col-md-4">
                <div class="form-group">
                    <label for="enhancers-screen-checkbox">
                        <input id="enhancers-screen-checkbox"
                               name="enhancers-screen-used"
                               type="checkbox" value="yes">
                        SCREEN
                    </label>
                    <div id="enhancers-screen-controls"
                         class="collapse hiden-controls">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input"
                                       name="enhancers-screen-combine-mode" type="radio"
                                       id="enhancers-screen-all" value="all" disabled>
                                <label class="form-check-label" for="enhancers-screen-all">
                                    Active in all selected tissues</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input"
                                       name="enhancers-screen-combine-mode" type="radio"
                                       id="enhancers-screen-any" value="any" checked disabled>
                                <label class="form-check-label" for="enhancers-screen-any">
                                    Active in any of selected tissues</label>
                            </div>
                            <label for="enhancers-screen-kbs-upstream" class="col-form-label">
                                Kb upstream
                                <input name="enhancers-screen-kbs-upstream" class="form-control" type="number"
                                       min="0" value="500" id="enhancers-screen-kbs-upstream" disabled>
                            </label>
                            <label for="enhancers-screen-kbs-downstream" class="col-form-label">
                                Kb downstream
                                <input name="enhancers-screen-kbs-downstream" class="form-control" type="number"
                                       min="0" value="500" id="enhancers-screen-kbs-downstream" disabled>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body col-md-4">
                <div class="form-group">
                    <label for="enhancers-encode-checkbox">
                        <input id="enhancers-encode-checkbox"
                               name="enhancers-encode-used"
                               type="checkbox" value="yes">
                        ENCODE TFBS
                    </label>
                    <div id="enhancers-encode-controls"
                         class="collapse hiden-controls">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input"
                                       name="enhancers-encode-combine-mode" type="radio"
                                       id="enhancers-encode-all" value="all" disabled>
                                <label class="form-check-label" for="enhancers-encode-all">
                                    Active in all selected tissues</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input"
                                       name="enhancers-encode-combine-mode" type="radio"
                                       id="enhancers-encode-any" value="any" checked disabled>
                                <label class="form-check-label" for="enhancers-encode-any">
                                    Active in any of selected tissues</label>
                            </div>
                            <label for="enhancers-encode-kbs-upstream" class="col-form-label">
                                Kb upstream
                                <input name="enhancers-encode-kbs-upstream" class="form-control" type="number"
                                       min="0" value="500" id="enhancers-encode-kbs-upstream" disabled>
                            </label>
                            <label for="enhancers-encode-kbs-downstream" class="col-form-label">
                                Kb downstream
                                <input name="enhancers-encode-kbs-downstream" class="form-control" type="number"
                                       min="0" value="500" id="enhancers-encode-kbs-downstream" disabled>

                            </label>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="card-body col-md-3">
                <div class="form-group">
                    <label for="enhancers-encode-checkbox">
                        <input id="enhancers-encode-checkbox"
                               name="enhancers-encode-used"
                               type="checkbox" value="yes">
                        SCREEN insulators
                    </label>
                    <div id="enhancers-encode-controls"
                         class="collapse hiden-controls">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input"
                                       name="enhancers-encode-combine-mode" type="radio"
                                       id="enhancers-encode-all" value="all" disabled>
                                <label class="form-check-label" for="enhancers-encode-all">
                                    Active in all selected tissues</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input"
                                       name="enhancers-encode-combine-mode" type="radio"
                                       id="enhancers-encode-any" value="any" checked disabled>
                                <label class="form-check-label" for="enhancers-encode-any">
                                    Active in any of selected tissues</label>
                            </div>
                            <label for="enhancers-encode-kbs-upstream" class="col-form-label">
                                Kb upstream
                                <input name="enhancers-encode-kbs-upstream" class="form-control" type="number"
                                       min="0" value="500" id="enhancers-encode-kbs-upstream" disabled>
                            </label>
                            <label for="enhancers-encode-kbs-downstream" class="col-form-label">
                                Kb downstream
                                <input name="enhancers-encode-kbs-downstream" class="form-control" type="number"
                                       min="0" value="500" id="enhancers-encode-kbs-downstream" disabled>

                            </label>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
{% endblock %}

{% block accessible_chromatin %}
    <a class="collapsed card-header bg-info card-link text-white" data-toggle="collapse"
       href="#collapse-accessible-chromatin">
        Accessible chromatin
    </a>
    <div id="collapse-accessible-chromatin" class="collapse show">
        <div class="row">
            <div class="card-body col-md-6">
                <div class="form-group">
                    <label for="accessible-chromatin-encode-checkbox">
                        <input id="accessible-chromatin-encode-checkbox"
                               name="accessible-chromatin-encode-used"
                               type="checkbox" value="yes">
                        ENCODE
                    </label>
                    <div id="accessible-chromatin-encode-controls"
                         class="collapse hiden-controls">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input"
                                       name="accessible-chromatin-encode-combine-mode" type="radio"
                                       id="accessible-chromatin-encode-all" value="all" disabled>
                                <label class="form-check-label" for="accessible-chromatin-encode-all">
                                    Accessible in all selected tissues</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input"
                                       name="accessible-chromatin-encode-combine-mode" type="radio"
                                       id="accessible-chromatin-encode-any" value="any" checked disabled>
                                <label class="form-check-label" for="accessible-chromatin-encode-any">
                                    Accessible in any of selected tissues</label>
                            </div>
                            <label for="accessible-chromatin-encode-kbs-upstream" class="col-form-label">
                                Kb upstream
                                <input name="accessible-chromatin-encode-kbs-upstream" class="form-control"
                                       type="number" min="0"
                                       value="500" id="accessible-chromatin-encode-kbs-upstream" disabled>
                            </label>
                            <label for="accessible-chromatin-encode-kbs-downstream" class="col-form-label">
                                Kb downstream
                                <input name="accessible-chromatin-encode-kbs-downstream" class="form-control"
                                       type="number" min="0"
                                       value="500" id="accessible-chromatin-encode-kbs-downstream" disabled>

                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body col-md-6">
                <div class="form-group">
                    <label for="accessible-chromatin-screen-checkbox">
                        <input id="accessible-chromatin-screen-checkbox"
                               name="accessible-chromatin-screen-used"
                               type="checkbox" value="yes">
                        SCREEN
                    </label>
                    <div id="accessible-chromatin-screen-controls"
                         class="collapse hiden-controls">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input"
                                       name="accessible-chromatin-screen-combine-mode" type="radio"
                                       id="accessible-chromatin-screen-all" value="all" disabled>
                                <label class="form-check-label" for="accessible-chromatin-screen-all">
                                    Accessible in all selected tissues</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input"
                                       name="accessible-chromatin-screen-combine-mode" type="radio"
                                       id="accessible-chromatin-screen-any" value="any" checked disabled>
                                <label class="form-check-label" for="accessible-chromatin-screen-any">
                                    Accessible in any of selected tissues</label>
                            </div>
                            <label for="accessible-chromatin-screen-kbs-upstream" class="col-form-label">
                                Kb upstream
                                <input name="accessible-chromatin-screen-kbs-upstream" class="form-control"
                                       type="number" min="0"
                                       value="500" id="accessible-chromatin-screen-kbs-upstream" disabled>
                            </label>
                            <label for="accessible-chromatin-screen-kbs-downstream" class="col-form-label">
                                Kb downstream
                                <input name="accessible-chromatin-screen-kbs-downstream" class="form-control"
                                       type="number" min="0"
                                       value="500" id="accessible-chromatin-screen-kbs-downstream" disabled>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block mirna_targets %}
    <a class="collapsed card-header bg-info card-link text-white" data-toggle="collapse"
       href="#collapse-mirna-targets">
        Micro RNA
    </a>
    <div id="collapse-mirna-targets" class="collapse show">
        <div class="row">
            <div class="card-body col-md-4">
                <div class="form-group">

                    <label for="mirna-mirtarbase-checkbox">
                        <input id="mirna-mirtarbase-checkbox"
                               name="mirna-mirtarbase-used"
                               type="checkbox" value="yes">
                        miRTarBase
                    </label>

                    <div id="mirna-mirtarbase-controls"
                         class="collapse hiden-controls">
                        <div class="col-md-12">

                            <label for="mirna-mirtarbase-include-weak-checkbox">
                                <input id="mirna-mirtarbase-include-weak-checkbox"
                                        name="mirna-mirtarbase-include-weak"
                                        type="checkbox" value="yes">
                                    Include weak interactions
                            </label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body col-md-4">
                <div class="form-group">

                    <label for="mirna-mirwalk-checkbox">
                        <input id="mirna-mirwalk-checkbox"
                               name="mirna-mirwalk-used"
                               type="checkbox" value="yes">
                        miRWalk
                    </label>


                    <div id="mirna-mirwalk-controls"
                         class="collapse hiden-controls">
                        <div class="col-md-12">
                            <label for="mirna-mirwalk-minimal-confidence" class="col-form-label">
                                Minimal confidence (0-1)
                                <input name="mirna-mirwalk-minimal-confidence" class="form-control" type="float"
                                       min="0" value="0.9" id="mirna-mirwalk-minimal-confidence" disabled>
                            </label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card-body col-md-4">
                <div class="form-group">

                    <div id="mirna-targets-controls"
                         class="collapse hiden-controls">
                        <div class="col-md-12">

                            <div class="form-check">
                                <input class="form-check-input"
                                       name="mirna-targets-combine-mode" type="radio"
                                       id="mirna-targets-combine-mode-all" value="all" disabled>
                                <label class="form-check-label" for="mirna-targets-combine-mode-all">
                                    Active in all selected tissues</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input"
                                       name="mirna-targets-combine-mode" type="radio"
                                       id="mirna-targets-combine-mode-any" value="any" checked disabled>
                                <label class="form-check-label" for="mirna-targets-combine-mode-any">
                                    Active in any of selected tissues</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block summary_panel %}
    <div class="row align-items-top">
        <div class="col-md-4 " style="padding-left: 0">
            <div>
                <input type="submit" href="#footer" value="Query" id="submit-all" class="btn btn-success btn-lg"
                    role="button" aria-disabled="true"
                    data-trigger="manual"
                    data-toggle="popover"
                    data-placement="right"
                    data-html="true"
                    data-content="Click me to run query for example data!"
                    >
            </div><br>
            <div>

                <label id="filter-vcf-label" class="btn btn-success btn-lg disabled" for="filter-vcf">
                    <input type="file" id="filter-vcf" accept=".vcf" disabled hidden>
                    <!--<input type="file" id="filter-vcf" accept=".gz, .tbi, .vcf"  multiple disabled hidden> -->
                    Filter VCF using result BED
                </label>

            </div>
            <div>
                Get results in:<br>
                <input type="button" id="download-result" class="btn btn-success"
                    role="button" aria-disabled="true" value="BED" disabled>
                <input type="button" id="download-excel" class="btn btn-success"
                    role="button" aria-disabled="true" value="Table" disabled>
                <input type="button" id="link-genomebrowser" class="btn btn-success"
                    role="button" aria-disabled="true" value="Genome Browser" disabled>
            </div>

        </div>
        <div class="col-md-8" style="">
            <div id="results-loading" class="text-center" style="border: dashed 1px; display:none">
                <img src="{{ url_for('static', filename='img/loading.gif') }}" class="w-25"/>
                <p> Computing...<br>
                    (Please don't close page until finished)
                </p>
            </div>
            <div id="results-loading2" class="text-center" style="border: dashed 1px; display:none">
                <img src="{{ url_for('static', filename='img/loading.gif') }}" class="w-25"/>
                <p> Filtering VCF...<br>
                    Please don't close page until finished. <br>
                    The result will appear as a download file
                </p>
            </div>

            <div id="results-table" class="text-center" style="display:none">
            </div>
        </div>
    </div>


{% endblock %}
