{% extends "base.html" %}
{% block content %}
    {{ super() }}
    <div class="container content">
        <div class="row align-items-center">
            <img src="{{ url_for('static', filename='img/remus_logo.png') }}" class="img-fluid" alt="Logo"
                 style="width:8%; height: 8%;">
            <div class="display-1">&nbsp;Remus</div>
            <div class="col-4 ml-auto">
                <a href="http://btm.umed.pl">
                    <img src="{{ url_for('static', filename='img/btm_logo.png') }}" class="img-fluid" alt="btm_logo" style="width: 30%">
                </a>
                <a href="https://en.umed.pl">
                    <img src="{{ url_for('static', filename='img/umed_logo.png') }}" class="img-fluid float-right" alt="umed_logo" style="width: 50%">
                </a>
            </div>
        </div>
        <div id="description-jumbotron" class="jumbotron">
            <br>
            <p><strong>Remus</strong> is a tool for identification of regulatory regions potentially associated with
                monogenic disease
                phenotypes.</p>

            <strong>Description:</strong><br>
            Starting from a small set of genes implicated in the disease pathogenesis, Remus finds regulatory features
            linked with these genes in chosen tissue-specific genome-scale regulatory datasets.
            Customizable search and step-by-step process allows for iterative building of a tissue-specific set of
            regions that likely play a role in regulating expression of the input genes in the tissues affected by the
            disease.
        </div>
        <div id="content-jumbotron" class="jumbotron">
            <div class="row">
                {% block general_controls %}{% endblock %}
            </div>
            <br>
            <form id="main-form" data-persist="garlic" method="POST">
                <div id="accordion">
                    <div class="card">
                        {% block genes_section %}{% endblock %}
                    </div>
                    <br>
                    <div class="card">
                        {% block tissues_section %}{% endblock %}
                    </div>
                    <br>
                    <div class="card">
                        {% block promoters %}{% endblock %}
                    </div>
                    <br>
                    <div class="card">
                        {% block enhancers %}{% endblock %}
                    </div>
                    <br>
                    <div class="card">
                        {% block accessible_chromatin %}{% endblock %}
                    </div>
                    <br>
                    <div class="card">
                        {% block mirna_targets %}{% endblock %}
                    </div>
                    <div class="card-body">
                        {% block summary_panel %} {% endblock %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $("#set-example-values-button").bind('click dblclick', function (evt) {
            var defaultGene = {
                id: "BLK",
                text: 'BLK'
            };
            if (!$('#select-genes').find("option[value='" + defaultGene.id + "']").length) {
                var defaultOption = new Option(defaultGene.text, defaultGene.id, false, false);
                $('#select-genes').append(defaultOption).trigger('change');
            }
            $('#select-genes').val(defaultGene.id).trigger('change');

            var defaultTissue = {
                id: "pancreas (CHR_E, CHR_S, ENH_F, ENH_S, PR_F, PR_S)",
                text: 'pancreas (CHR_E, CHR_S, ENH_F, ENH_S, PR_F, PR_S)'
            }
            if (!$('#select-tissues').find("option[value='" + defaultTissue.id + "']").length) {
                var defaultOption = new Option(defaultTissue.text, defaultTissue.id, false, false);
                $('#select-tissues').append(defaultOption).trigger('change');
            }
            $('#select-tissues').val(defaultTissue.id).trigger('change');

            checkboxesIDs = [
                "#promoters-fantom5-checkbox",
                "#promoters-screen-checkbox",
                "#enhancers-fantom5-checkbox",
                "#enhancers-screen-checkbox",
                "#enhancers-encode-checkbox ",
                "#accessible-chromatin-encode-checkbox",
                "#accessible-chromatin-screen-checkbox"
            ]

            checkboxesIDs.forEach(checkboxID => {
                if (!$(checkboxID).is(":checked")){
                    $(checkboxID).click();
                }
            });

            $('html, body').animate({ scrollTop: $("#submit-all").offset().top }, 3500);
            setTimeout(function(){
                $('#submit-all').popover("show");
            }, 2500);
        });

        $("#genome-switch-button").bind('click dblclick', function (evt) {
            $('#select-genes').empty();
            $('#select-tissues').empty();
        });

        $("#promoters-fantom5-checkbox").bind('click dblclick', function (evt) {
            if ($(this).is(":checked")) {
                $('#promoters-fantom5-controls').slideDown();
                $('#promoters-fantom5-controls input').prop('disabled', false);
            } else {
                $('#promoters-fantom5-controls').slideUp();
                $('#promoters-fantom5-controls input').prop('disabled', true);
            }
        });

        $("#promoters-screen-checkbox").bind('click dblclick', function (evt) {
            if ($(this).is(":checked")) {
                $('#promoters-screen-controls').slideDown();
                $('#promoters-screen-controls input').prop('disabled', false);
            } else {
                $('#promoters-screen-controls').slideUp();
                $('#promoters-screen-controls input').prop('disabled', true);
            }
        });


        $("#enhancers-fantom5-checkbox").bind('click dblclick', function (evt) {
            if ($(this).is(":checked")) {
                $('#enhancers-fantom5-controls').slideDown();
                $('#enhancers-fantom5-controls input').prop('disabled', false);
            } else {
                $('#enhancers-fantom5-controls').slideUp();
                $('#enhancers-fantom5-controls input').prop('disabled', true);
            }
        });

        $("#enhancers-encode-checkbox").bind('click dblclick', function (evt) {
            if ($(this).is(":checked")) {
                $('#enhancers-encode-controls').slideDown();
                $('#enhancers-encode-controls input').prop('disabled', false);
            } else {
                $('#enhancers-encode-controls').slideUp();
                $('#enhancers-encode-controls input').prop('disabled', true);
            }
        });

        $("#enhancers-screen-checkbox").bind('click dblclick', function (evt) {
            if ($(this).is(":checked")) {
                $('#enhancers-screen-controls').slideDown();
                $('#enhancers-screen-controls input').prop('disabled', false);
            } else {
                $('#enhancers-screen-controls').slideUp();
                $('#enhancers-screen-controls input').prop('disabled', true);
            }
        });

        $("#accessible-chromatin-encode-checkbox").bind('click dblclick', function (evt) {
            if ($(this).is(":checked")) {
                $('#accessible-chromatin-encode-controls').slideDown();
                $('#accessible-chromatin-encode-controls input').prop('disabled', false);
            } else {
                $('#accessible-chromatin-encode-controls').slideUp();
                $('#accessible-chromatin-encode-controls input').prop('disabled', true);
            }
        });

        $("#accessible-chromatin-screen-checkbox").bind('click dblclick', function (evt) {
            if ($(this).is(":checked")) {
                $('#accessible-chromatin-screen-controls').slideDown();
                $('#accessible-chromatin-screen-controls input').prop('disabled', false);
            } else {
                $('#accessible-chromatin-screen-controls').slideUp();
                $('#accessible-chromatin-screen-controls input').prop('disabled', true);
            }
        });

        $("#mirna-mirtarbase-checkbox").bind('click dblclick', function (evt) {
            if ($(this).is(":checked")) {
                $('#mirna-mirtarbase-controls').slideDown();
                $('#mirna-mirtarbase-controls input').prop('disabled', false);
                $('#mirna-targets-controls').slideDown();
                $('#mirna-targets-controls input').prop('disabled', false);
            } else {
                $('#mirna-mirtarbase-controls').slideUp();
                $('#mirna-mirtarbase-controls input').prop('disabled', true);
                if (! $("#mirna-mirwalk-checkbox").is(":checked")) {
                    $('#mirna-targets-controls').slideUp();
                    $('#mirna-targets-controls input').prop('disabled', true);
                }
            }
        });

        $("#mirna-mirwalk-checkbox").bind('click dblclick', function (evt) {
            if ($(this).is(":checked")) {
                $('#mirna-mirwalk-controls').slideDown();
                $('#mirna-mirwalk-controls input').prop('disabled', false);
                $('#mirna-targets-controls').slideDown();
                $('#mirna-targets-controls input').prop('disabled', false);
            } else {
                $('#mirna-mirwalk-controls').slideUp();
                $('#mirna-mirwalk-controls input').prop('disabled', true);
                if (! $("#mirna-mirtarbase-checkbox").is(":checked")) {
                    $('#mirna-targets-controls').slideUp();
                    $('#mirna-targets-controls input').prop('disabled', true);
                }
            }
        });

    </script>
{% endblock %}
